body{
    text-align: center;
    width: 1200px;
    margin: 0 auto; 
}
h1{
    font-size: 50px;
    color: green;
    width: 1200px;
    background-color:rgb(255, 165, 50);
    padding: 10px;
    border: 2px solid red;
    border-radius: 12px;
}
form{
    background-color:rgb(255, 165, 50);
    font-size: 30px;
    border-style: groove;
    padding: 20px;
    width: 1175px;
    margin-bottom: 30px;
    margin-top: 30px;
    word-spacing: 0.1em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: ridge;
    width: 700px;
    margin-top: 10px; 
    margin-bottom: 50px;
    margin: 0 auto;
    background-color:rgb(255, 165, 50);
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
   
}
img{
    width: 200px;
    height: 200px;
}
button{
    width: 130px;
    margin: 3px;
    padding: 5px;
    background-color: yellow;
}
select{
    font-size: 19px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 165, 150);
    width: 1220px;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

#userInfo{
    font-size: 25px;
}

#right{
    float: right;
}

#red{
    background-color: red;
}

#log{
    float: right;
    padding: 22px;
    font-size: 18px;
}
#error{
    color: red;
}